
body{

    overflow: hidden;
    min-width: 924px;
    min-height: 556px;

}


.container{
    border: 3px solid #000;
    position: relative;
    min-width: 924px;
    min-height: 556px;
}

.container * {

    position: absolute;
    display: block;
    
}   

#carro{
    width: 80px;
    height: 70px;
}
